<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tapshare File Shared</title>
    <style>
        *,
        ::before,
        ::after {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
            border-color: #e5e7eb;
        }

        ::before,
        ::after {
            --tw-content: '';
        }


        html,
        :host {
            line-height: 1.5;
            -webkit-text-size-adjust: 100%;
            -moz-tab-size: 4;
            tab-size: 4;
            font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-feature-settings: normal;
            font-variation-settings: normal;
            -webkit-tap-highlight-color: transparent;
        }



        body {
            margin: 0;
            line-height: inherit;
        }



        hr {
            height: 0;
            color: inherit;
            border-top-width: 1px;
        }


        abbr:where([title]) {
            text-decoration: underline dotted;
        }


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: inherit;
            font-weight: inherit;
        }


        a {
            color: inherit;
            text-decoration: inherit;
        }


        b,
        strong {
            font-weight: bolder;
        }



        code,
        kbd,
        samp,
        pre {
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            font-feature-settings: normal;
            font-variation-settings: normal;
            font-size: 1em;
        }


        small {
            font-size: 80%;
        }


        sub,
        sup {
            font-size: 75%;
            line-height: 0;
            position: relative;
            vertical-align: baseline;
        }

        sub {
            bottom: -0.25em;
        }

        sup {
            top: -0.5em;
        }


        table {
            text-indent: 0;
            border-color: inherit;
            border-collapse: collapse;
        }


        button,
        input,
        optgroup,
        select,
        textarea {
            font-family: inherit;
            font-feature-settings: inherit;
            font-variation-settings: inherit;
            font-size: 100%;
            font-weight: inherit;
            line-height: inherit;
            color: inherit;
            margin: 0;
            padding: 0;
        }


        button,
        select {
            text-transform: none;
        }


        button,
        [type='button'],
        [type='reset'],
        [type='submit'] {
            -webkit-appearance: button;
            appearance: button;
            background-color: transparent;
            background-image: none;
        }

        :-moz-focusring {
            outline: auto;
        }

        :-moz-ui-invalid {
            box-shadow: none;
        }

        progress {
            vertical-align: baseline;
        }

        ::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
            height: auto;
        }

        [type='search'] {
            -webkit-appearance: textfield;
            appearance: textfield;
            outline-offset: -2px;
        }

        ::-webkit-search-decoration {
            -webkit-appearance: none;
        }

        ::-webkit-file-upload-button {
            -webkit-appearance: button;
            font: inherit;
        }

        summary {
            display: list-item;
        }

        blockquote,
        dl,
        dd,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        hr,
        figure,
        p,
        pre {
            margin: 0;
        }

        fieldset {
            margin: 0;
            padding: 0;
        }

        legend {
            padding: 0;
        }

        ol,
        ul,
        menu {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        dialog {
            padding: 0;
        }


        textarea {
            resize: vertical;
        }

        input::placeholder,
        textarea::placeholder {
            opacity: 1;
            color: #9ca3af;
        }


        button,
        [role="button"] {
            cursor: pointer;
        }


        :disabled {
            cursor: default;
        }


        img,
        svg,
        video,
        canvas,
        audio,
        iframe,
        embed,
        object {
            display: block;
        }


        img,
        video {
            max-width: 100%;
            height: auto;
        }


        [hidden] {
            display: none;
        }

        *,
        ::before,
        ::after {
            --tw-border-spacing-x: 0;
            --tw-border-spacing-y: 0;
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-rotate: 0;
            --tw-skew-x: 0;
            --tw-skew-y: 0;
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            --tw-pan-x: ;
            --tw-pan-y: ;
            --tw-pinch-zoom: ;
            --tw-scroll-snap-strictness: proximity;
            --tw-gradient-from-position: ;
            --tw-gradient-via-position: ;
            --tw-gradient-to-position: ;
            --tw-ordinal: ;
            --tw-slashed-zero: ;
            --tw-numeric-figure: ;
            --tw-numeric-spacing: ;
            --tw-numeric-fraction: ;
            --tw-ring-inset: ;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-color: rgb(59 130 246 / 0.5);
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-ring-shadow: 0 0 #0000;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-colored: 0 0 #0000;
            --tw-blur: ;
            --tw-brightness: ;
            --tw-contrast: ;
            --tw-grayscale: ;
            --tw-hue-rotate: ;
            --tw-invert: ;
            --tw-saturate: ;
            --tw-sepia: ;
            --tw-drop-shadow: ;
            --tw-backdrop-blur: ;
            --tw-backdrop-brightness: ;
            --tw-backdrop-contrast: ;
            --tw-backdrop-grayscale: ;
            --tw-backdrop-hue-rotate: ;
            --tw-backdrop-invert: ;
            --tw-backdrop-opacity: ;
            --tw-backdrop-saturate: ;
            --tw-backdrop-sepia:
        }

        ::backdrop {
            --tw-border-spacing-x: 0;
            --tw-border-spacing-y: 0;
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-rotate: 0;
            --tw-skew-x: 0;
            --tw-skew-y: 0;
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            --tw-pan-x: ;
            --tw-pan-y: ;
            --tw-pinch-zoom: ;
            --tw-scroll-snap-strictness: proximity;
            --tw-gradient-from-position: ;
            --tw-gradient-via-position: ;
            --tw-gradient-to-position: ;
            --tw-ordinal: ;
            --tw-slashed-zero: ;
            --tw-numeric-figure: ;
            --tw-numeric-spacing: ;
            --tw-numeric-fraction: ;
            --tw-ring-inset: ;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-color: rgb(59 130 246 / 0.5);
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-ring-shadow: 0 0 #0000;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-colored: 0 0 #0000;
            --tw-blur: ;
            --tw-brightness: ;
            --tw-contrast: ;
            --tw-grayscale: ;
            --tw-hue-rotate: ;
            --tw-invert: ;
            --tw-saturate: ;
            --tw-sepia: ;
            --tw-drop-shadow: ;
            --tw-backdrop-blur: ;
            --tw-backdrop-brightness: ;
            --tw-backdrop-contrast: ;
            --tw-backdrop-grayscale: ;
            --tw-backdrop-hue-rotate: ;
            --tw-backdrop-invert: ;
            --tw-backdrop-opacity: ;
            --tw-backdrop-saturate: ;
            --tw-backdrop-sepia:
        }

        .pointer-events-none {
            pointer-events: none
        }

        .static {
            position: static
        }

        .absolute {
            position: absolute
        }

        .relative {
            position: relative
        }

        .-bottom-10 {
            bottom: -2.5rem
        }

        .-right-28 {
            right: -7rem
        }

        .-z-0 {
            z-index: 0
        }

        .z-10 {
            z-index: 10
        }

        .m-0 {
            margin: 0px
        }

        .m-auto {
            margin: auto
        }

        .mx-auto {
            margin-left: auto;
            margin-right: auto
        }

        .mb-4 {
            margin-bottom: 1rem
        }

        .mt-3 {
            margin-top: 0.75rem
        }

        .inline-block {
            display: inline-block
        }

        .flex {
            display: flex
        }

        .inline-flex {
            display: inline-flex
        }

        .table {
            display: table
        }

        .min-h-screen {
            min-height: 100vh
        }

        .w-11\/12 {
            width: 91.666667%
        }

        .w-24 {
            width: 6rem
        }

        .w-6 {
            width: 1.5rem
        }

        .w-full {
            width: 100%
        }

        .max-w-5xl {
            max-width: 64rem
        }

        .items-end {
            align-items: flex-end
        }

        .items-center {
            align-items: center
        }

        .justify-center {
            justify-content: center
        }

        .gap-1 {
            gap: 0.25rem
        }

        .gap-2 {
            gap: 0.5rem
        }

        .overflow-hidden {
            overflow: hidden
        }

        .rounded-full {
            border-radius: 9999px
        }

        .rounded-md {
            border-radius: 0.375rem
        }

        .rounded-b-\[4rem\] {
            border-bottom-right-radius: 4rem;
            border-bottom-left-radius: 4rem
        }

        .border {
            border-width: 1px
        }

        .bg-\[\#007bff\] {
            --tw-bg-opacity: 1;
            background-color: rgb(0 123 255 / var(--tw-bg-opacity))
        }

        .bg-\[\#435897\] {
            --tw-bg-opacity: 1;
            background-color: rgb(67 88 151 / var(--tw-bg-opacity))
        }

        .bg-slate-200 {
            --tw-bg-opacity: 1;
            background-color: rgb(226 232 240 / var(--tw-bg-opacity))
        }

        .px-1 {
            padding-left: 0.25rem;
            padding-right: 0.25rem
        }

        .px-10 {
            padding-left: 2.5rem;
            padding-right: 2.5rem
        }

        .px-3 {
            padding-left: 0.75rem;
            padding-right: 0.75rem
        }

        .px-4 {
            padding-left: 1rem;
            padding-right: 1rem
        }

        .px-6 {
            padding-left: 1.5rem;
            padding-right: 1.5rem
        }

        .py-2 {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem
        }

        .py-3 {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem
        }

        .py-8 {
            padding-top: 2rem;
            padding-bottom: 2rem
        }

        .pb-1 {
            padding-bottom: 0.25rem
        }

        .pb-14 {
            padding-bottom: 3.5rem
        }

        .pb-4 {
            padding-bottom: 1rem
        }

        .pt-2 {
            padding-top: 0.5rem
        }

        .pt-8 {
            padding-top: 2rem
        }

        .text-center {
            text-align: center
        }

        .font-mono {
            font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
        }

        .font-serif {
            font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif
        }

        .text-4xl {
            font-size: 2.25rem;
            line-height: 2.5rem
        }

        .text-xl {
            font-size: 1.25rem;
            line-height: 1.75rem
        }

        .font-bold {
            font-weight: 700
        }

        .font-extrabold {
            font-weight: 800
        }

        .font-medium {
            font-weight: 500
        }

        .text-blue-400 {
            --tw-text-opacity: 1;
            color: rgb(96 165 250 / var(--tw-text-opacity))
        }

        .text-blue-500 {
            --tw-text-opacity: 1;
            color: rgb(59 130 246 / var(--tw-text-opacity))
        }

        .text-slate-200 {
            --tw-text-opacity: 1;
            color: rgb(226 232 240 / var(--tw-text-opacity))
        }

        .text-slate-50 {
            --tw-text-opacity: 1;
            color: rgb(248 250 252 / var(--tw-text-opacity))
        }

        .text-slate-500 {
            --tw-text-opacity: 1;
            color: rgb(100 116 139 / var(--tw-text-opacity))
        }

        .text-slate-600 {
            --tw-text-opacity: 1;
            color: rgb(71 85 105 / var(--tw-text-opacity))
        }

        .text-slate-800 {
            --tw-text-opacity: 1;
            color: rgb(30 41 59 / var(--tw-text-opacity))
        }

        .opacity-10 {
            opacity: 0.1
        }

        .mix-blend-multiply {
            mix-blend-mode: multiply
        }

        .transition-all {
            transition-property: all;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms
        }

        .ease-in-out {
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
        }

        .hover\:scale-105:hover {
            --tw-scale-x: 1.05;
            --tw-scale-y: 1.05;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
        }

        .hover\:rounded-full:hover {
            border-radius: 9999px
        }

        .hover\:underline:hover {
            text-decoration-line: underline
        }

        .hover\:duration-700:hover {
            transition-duration: 700ms
        }

        @media (min-width: 640px) {
            .sm\:-bottom-10 {
                bottom: -2.5rem
            }

            .sm\:left-1\/2 {
                left: 50%
            }

            .sm\:w-8\/12 {
                width: 66.666667%
            }

            .sm\:rounded-xl {
                border-radius: 0.75rem
            }

            .sm\:rounded-t-xl {
                border-top-left-radius: 0.75rem;
                border-top-right-radius: 0.75rem
            }

            .sm\:px-2 {
                padding-left: 0.5rem;
                padding-right: 0.5rem
            }

            .sm\:py-10 {
                padding-top: 2.5rem;
                padding-bottom: 2.5rem
            }

            .sm\:py-2 {
                padding-top: 0.5rem;
                padding-bottom: 0.5rem
            }
        }

        @media (min-width: 768px) {
            .md\:-bottom-20 {
                bottom: -5rem
            }

            .md\:w-7\/12 {
                width: 58.333333%
            }
        }

        @media (prefers-color-scheme: dark) {
            .dark\:bg-\[\#46547e\] {
                --tw-bg-opacity: 1;
                background-color: rgb(70 84 126 / var(--tw-bg-opacity))
            }

            .dark\:bg-slate-700 {
                --tw-bg-opacity: 1;
                background-color: rgb(51 65 85 / var(--tw-bg-opacity))
            }

            .dark\:text-blue-200 {
                --tw-text-opacity: 1;
                color: rgb(191 219 254 / var(--tw-text-opacity))
            }

            .dark\:text-slate-100 {
                --tw-text-opacity: 1;
                color: rgb(241 245 249 / var(--tw-text-opacity))
            }

            .dark\:text-slate-300 {
                --tw-text-opacity: 1;
                color: rgb(203 213 225 / var(--tw-text-opacity))
            }

            .dark\:text-slate-50 {
                --tw-text-opacity: 1;
                color: rgb(248 250 252 / var(--tw-text-opacity))
            }

            .dark\:mix-blend-overlay {
                mix-blend-mode: overlay
            }

            .dark\:mix-blend-soft-light {
                mix-blend-mode: soft-light
            }
        }
    </style>
</head>

<body class="p-o m-auto font-serif">
    <table role="presentation" border="0" cellpadding="0"
        class="flex min-h-screen w-full items-center justify-center sm:px-2 sm:py-2" cellspacing="0">
        <tr>
            <td align="center">
                <table role="presentation"
                    class="w-full max-w-5xl bg-slate-200 text-slate-800 sm:rounded-xl dark:bg-slate-700 dark:text-slate-50"
                    border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td
                            class="rounded-b-[4rem] bg-[#435897] px-6 pb-14 pt-8 text-center sm:rounded-t-xl sm:py-10 dark:bg-[#46547e]">
                            <a target="_blank" href="https://tapshare.xyz"><img
                                    src="https://tapshare.xyz/tapShare-194x194.webp"
                                    class="mx-auto mb-4 w-24 rounded-full" /></a>
                            <h1 class="m-0 font-serif text-4xl text-slate-200 dark:text-slate-50">Tapshare File Shared
                            </h1>
                        </td>
                    </tr>

                    <tr class="px-4">
                        <td class="relative w-full overflow-hidden px-10 py-8">
                            <img class="m pointer-events-none absolute -bottom-10 -right-28 -z-0 w-11/12 rounded-full opacity-10 sm:-bottom-10 sm:left-1/2 sm:w-8/12 md:-bottom-20 md:w-7/12"
                                src="https://tapshare.xyz/tapShare-194x194.webp" alt="" />

                            <p style="margin: 0;" class="pb-4 font-mono text-xl font-bold">Hello there</p>

                            <p style="margin: 0;" class="py-2 font-serif font-medium">We're pleased to inform you that
                                files have been securely shared with you via <a href="https://www.tapshare.xyz/"
                                    class="font-extrabold">Tapshare. Tapshare</a>, a hassle-free platform for seamless
                                file exchange. <br /><br />Your sender has utilized <a href="https://www.tapshare.xyz/"
                                    class="font-extrabold">Tapshare</a> to transmit the following files, ensuring swift
                                and secure delivery:</p>
                            <div style="margin: 30px 0; display:flex; flex-wrap:wrap; gap: 1rem;">
                                <% for(var i=0; i < sharedFileLinks.length; i++) { %>
                                    <a href="<%- sharedFileLinks[i] %>" download="<%- sharedFileLinks[i] %>"
                                        title="<%= sharedFileLinks[i] %>"
                                        class="inline-block rounded-md bg-[#007bff] px-3 py-2 text-slate-50">
                                        Download File
                                    </a>
                                    <% } %>
                            </div>



                            <p style="margin: 0;" class="py-2 font-serif dark:text-slate-300">Please note that Tapshare
                                only retains shared files for 24 hours from the time of upload. After this period, the
                                files will no longer be accessible. We encourage you to download and save these files to
                                your preferred location for future reference.</p>

                            <p style="margin: 0;" class="py-3 text-slate-500 dark:text-slate-300">For your convenience,
                                we have also provided the direct download link:</p>

                            <% for(var i=0; i < sharedFileLinks.length; i++) { %>
                                <a style="margin: 20px 0;" href="<%- sharedFileLinks[i] %>">
                                    <%- sharedFileLinks[i] %>
                                </a>
                                <% } %>

                                    <div style="margin: 0;" class="py-2 font-serif dark:text-slate-100">
                                        If you haven't already, we encourage you to explore Tapshare for yourself. It's
                                        a
                                        simple, secure, and reliable solution for sending large files over the internet.
                                        To
                                        learn more about Tapshare and its features, visit our website
                                        <a target="_blank" href="https://www.tapshare.xyz/"
                                            class="inline-flex items-end gap-1 text-xl font-extrabold text-blue-400">TapShare
                                            <img src="https://tapshare.xyz/tapShare-194x194.webp"
                                                class="w-6 rounded-md ease-in-out hover:scale-105 hover:rounded-full hover:duration-700" />
                                        </a>&ensp; or check out our
                                        <a class="inline-flex gap-2 font-bold text-blue-400" target="_blank"
                                            href="https://github.com/maheshbasnet089/tapShare">GitHub repository. <img
                                                src="https://github.com/fluidicon.png" alt="GITHUB" title="Github"
                                                height="24" width="24" /> </a>
                                    </div>

                                    <br />
                                    <p style="margin: 0;" class="z-10 text-center text-slate-600 dark:text-slate-100">
                                        Thank you
                                        for choosing Tapshare for your file sharing needs. Should you have any questions
                                        or
                                        require assistance, please don't hesitate to reach out to us.</p>
                                    <div align="center" class="mt-3">
                                        <table cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td align="center" valign="top"
                                                        class="px-1 transition-all hover:scale-105">
                                                        <a target="_blank"
                                                            href="https://github.com/maheshbasnet089/tapShare"><img
                                                                class="mix-blend-multiply transition-all dark:mix-blend-overlay"
                                                                src="https://github.com/fluidicon.png" alt="GITHUB"
                                                                title="Github" height="42" width="42" /></a>
                                                    </td>
                                                    <td align="center" valign="top"
                                                        class="px-1 transition-all hover:scale-105">
                                                        <a target="_blank"
                                                            href="https://www.linkedin.com/company/tapshare089/"><img
                                                                class="mix-blend-multiply transition-all dark:mix-blend-soft-light"
                                                                src="https://static.licdn.com/aero-v1/sc/h/90y3av2ns08iojcadywbxioqh"
                                                                alt="FB" title="Facebook" height="42" width="42" /></a>
                                                    </td>
                                                    <td align="center" valign="top"
                                                        class="px-1 transition-all hover:scale-105">
                                                        <a target="_blank"
                                                            href="https://www.facebook.com/tapshare089"><img
                                                                class="mix-blend-multiply transition-all dark:mix-blend-overlay"
                                                                src="https://static.xx.fbcdn.net/rsrc.php/yT/r/aGT3gskzWBf.ico?_nc_eui2=AeGmGvcMjiut5c2dVKunAYAdrSiY817De8atKJjzXsN7xgKtvsAOG8FqlfMVqgX0lNz6wFBfTtTMpzkiRtw05193"
                                                                alt="Ig" title="Instagram" height="42" width="42" /></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div style="margin: 20px 0;">
                                        Best regards,<br />
                                        <p class="pb-1 pt-2 font-mono font-bold">Tej karki</p>
                                        <p class="pb-1 font-serif">maintainer</p>
                                        <a target="_blank"
                                            href="https://github.com/maheshbasnet089/tapShare?tab=readme-ov-file#contributors-"
                                            class="font-serif text-blue-500 transition-all hover:underline dark:text-blue-200">Tapshare
                                            Team</a>
                                    </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>